# Binários e executáveis gerados
/bin/
/release/

# Dependências geradas pelo go get
/vendor/

# Arquivos de configuração locais
/.env

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Arquivos de backup
*.bak

# Arquivos de documentação gerados
/docs/

# Arquivos de cache
/.cache/

# Arquivos de dados
/data/

# Arquivos de resultado de testes
/.test/

# Outros arquivos específicos do projeto
...

# Arquivos de configuração para IDEs e editores
.idea/
.vscode/
*.sublime-*
*.swp